<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Contact</title>
</head>

<body>
    {% block content %}
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">

            <div class="logo-container">
                <h3 class="logo">Brand<span>Name</span></h3>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="{{url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="{{url_for('contact')}}">Contact</a>
                           
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="{{url_for('prediction')}}">Predict</a>
                           </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                    </ul>
                </div>

                <div class="log-sign" style="--i: 1.8s">
                    <a href="#" class="btn transparent">Log in</a>
                    <a href="#" class="btn solid">Sign up</a>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    
    <main>
        <section>
            <div class="overlay"></div>
            <div class="book">
                <div class="contact-section">
                    <h2>Contact Information</h2>
                    <div class="contact-info">
                        <div class="contact-info-item">
                           <p> <img src="{{ map }}" >Location</p>
                            <p>Jct colllege of engineering and Technology</p>
                        </div>
                        <div class="contact-info-item">
                            <p><img src="{{ email }}" >Email</p><br>
			     <p>viveksinghpihuli0a@gmail.com</p>
                            <p>rrr725497@gmail.com</p>
                        </div>
                        <div class="contact-info-item">
                           <p><img src="{{ phonel }}" >Phone</p>
				 <p>+918804752876</p
                            <p>+917254972031</p>
                        </div>
                    </div>
                </div>
                <div class="cover">
                    <p>Hover for All the details</p>
                </div>
               </div>

              

           

                    <div class="login-box">
                        <p>Contact Us</p>
                        <form action="{{url_for('contact')}}" method="post">
                            <div class="user-box">
                                <input required="" name="" type="text">
                                <label>FUll Name</label>
                            </div>
                            <div class="user-box">
                                <input required="" name="" type="email">
                                <label>Email</label>
                            </div>
                            <div class="user-box">
                                <input required="" name="" type="text">
                                <label>Contact No</label>
                            </div>
                            <div class="user-box">
                                <input required="" name="" type="text">
                                <label>Subject</label>
                            </div>
                            <div class="user-box">
                                <input required="" name="" type="text">
                                <label>Meassage</label>
                            </div>
                            <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Submit
                            </a>
                        </form>
                
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
</body>

</html>