<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Energy Consumption</title>
</head>

<body>
    {% block content %}
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">
            
            <div class="logo-container">
                <h3 class="logo">Brand<span>Name</span></h3>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="{{url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="{{url_for('contact')}}">Contact</a>
                           
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="{{url_for('prediction')}}">Predict</a>
                           </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="{{url_for('about')}}">About</a>
                        </li>
                    </ul>
                </div>

                <div class="log-sign" style="--i: 1.8s">
                    <a href="#" class="btn transparent">Log in</a>
                    <a href="#" class="btn solid">Sign up</a>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    <main>
       
       
        <section>
            <div class="overlay"></div>
            <div class="he">
                <h2>A Reliable Energy Consumption Analysis System for Energy-Efficient Applications<br><br><br><br>  {{ message }}</h2>
            
           
            </div>
           
        </section>
         
    </main>
   
</body>

</html>